# Framework principal y servidor
fastapi>=0.110.0,<0.111.0
uvicorn[standard]>=0.29.0,<0.30.0

# Base de Datos (ORM y Driver para PostgreSQL)
sqlalchemy>=2.0.0,<3.0.0
psycopg2-binary>=2.9,<3.0

# Utilidades (Equivalente a python-decouple para variables de entorno)
python-dotenv>=1.0.0,<2.0.0

# Testing (Para cumplir con el punto de "Pruebas básicas")
pytest>=8.0.0,<9.0.0

# Manejo de formularios y datos
python-multipart>=0.0.9

reportlab>=3.6.0,<4.0.0